<%- include("header") %>

<%- include("navbar") %>

<main>
  <h1>Character Creation</h1>
  <p>
    Welcome to boot camp. In this section, you will find a step-by-step guide to character creation in the fifth edition of Dungeons and
    Dragons. Everything you'll need to know, from point-buy to proficiecny bonus. We'll also be creating an example character named Shlorbak the
    Swift, so you can get a feel for the workflow. It helps, I swear.
  </p>

  <h1 id="race">Race</h1>
  <p>
    Like in real life, everything in D&D always come back to race. Unlike in real life, you get to pick your race, and no one is definitively
    better than another. Except half-elves. They're crazy good in basically every edition of the game.
  </p>
  <p>
    The races listed on this website encompass only those which are present in my game. To account for every officially released race in 5e would
    be a herculean task, considering the number has more than quintupled since 2014 (and in all that time, only one extra class).
  </p>

    <h2 id="racial-traits">Racial Traits</h2>
    <p>
      There wouldn't be much point in having a bunch of different races if they were all the same. The things that make them different are what
      make them unique and interesting. That's where racial traits come in: a number of different stat bonuses and mechanical differences that
      distinguish the races from one another.
    </p>
    <p>
      Though each race has its own lineup of special traits, every one shares these five:
    </p>
    <ul class="trait-list">
      <li>
        <strong><em>Ability Score Increase.</em></strong> Most races provide a couple bonuses to your ability scores (more on those later), based
        on culture and physiology.
      </li>
      <li>
        <strong><em>Age.</em></strong> Functionally useless stat. Basically just for you to decide what age your character is at the beginning of
        the game.
      </li>
      <li>
        <strong><em>Size.</em></strong> Barely any applications in 5e, but you'll need to know it if you want to grapple a bigger creature. Small
        creatures can also move through larger creatures' spaces.
      </li>
      <li>
        <strong><em>Speed.</em></strong> This stat determines how far you can move in a single turn. It's normally related to size, but dwarves
        are an exception: with a Medium size and a Small speed.
      </li>
      <li>
        <strong><em>Languages.</em></strong> This just tells you what languages you can speak. Most settings have a "Common" tongue, or something
        similarly boring in name.
      </li>
    </ul>

  <h1 id="ability-scores">Ability Scores</h1>
  <p>

  </p>

    <h2 id="modifiers">Modifiers</h2>
    <h2 id="ability-score-generation">Ability Score Generation</h2>
      <h3 id="4d6">The Classic</h3>
      <h3 id="standard-array">The Standard</h3>
      <h3 id="point-buy">The Calculator</h3>
      <h3 id="3d6">The Fuck You</h3>
      <h3 id="colville">The Colville</h3>
  <h1 id="class">Class</h1>
    <h2 id="hit-dice">Points, Wife, Dice</h2>
    <h2 id="class-proficiencies">Proficiencies</h2>
    <h2 id="class-equipment">Starting Equipment</h2>
    <h2 id="class-features">Class Features</h2>
  <h1 id="background">Background</h1>
    <h2 id="concept">Concept</h2>
    <h2 id="background-proficiencies">Proficiencies</h2>
    <h2 id="background-equipment">Starting Equipment</h2>
    <h2 id="background-feature">Feature</h2>
</main>

<%- include("footer") %>