<%- include("header") %>

<%- include("navbar") %>

<main>
  <h1>Welcome, Traveler</h1>
  <p>
    Take a seat by the fire. Pull up a chair and rest a while.
  </p>
  <p>
    On this website, you'll find a treasure trove of resources, instructions, and information about how to get started with Dungeons and Dragons
    5th edition. I even styled the site to look like the official rulebooks. Isn't that cute?
  </p>
  <p>
    Just about everything you could ever need is right here, so go crazy.
  </p>

    <h2>Navigating</h2>
    <p>
      If you look to your left, you'll see a stylish sidebar that looks a bit like the spine of a book, gold lettering and all. Pretty clever,
      right? Click around on there to jump around the site.
    </p>
    <ul>
      <li><strong><em>Home</em></strong> is this page right here. </li>
      <li><strong><em>Guide</em></strong> is a start-to-finish character creation walkthrough.</li>
      <li>
        <strong><em>Resources</em></strong> has information on every class and <em>most</em> races, as well as a page dedicated to weapons, armor,
        tools, adventuring gear, and expenses.
      </li>
    </ul>
    <p>
      Then there's the "Primer" section, a brief passage devoted to the history and cultures of my own homebrew setting. For the busy or
      uninterested player (shame on you), there is a quick rundown of the story, a list of tweaks I've made to some of the things you may be
      familiar with, and a summary of each race's prevailing image in society to inform your choices.
    </p>

    <h2>A Fair Warning</h2>
    <p>
      A learned D&D player may notice, after a quick look around, the races I've presented to you are <em>wrong</em>. They're completely different
      from the ones in the Player's Handbook (and all the other books that add races, like we didn't have enough already). And that would be
      because <strong>I'm the DM, and I make the rules</strong>.
    </p>
    <p>
      I write the lore, the lore influences the game. So, things run a bit different in my game than in the Forgotten Realms. Most changes come
      from a place of love. I wanted to change the setting to keep it fresh, since classic Tolkienesque fantasy has become pretty played-out at
      this point in time. Other changes come from a place of hate. I removed gnomes because I do not like them.
    </p>
</main>

<%- include("footer") %>