<%- include("header") %>

<%- include("navbar") %>

<main>
  <h1>Welcome, Traveler</h1>
  <p>
    Take a seat by the fire. Pull up a chair and rest a while.
  </p>
  <p>
    On this website, you'll find a treasure trove of resources, instructions, and information about how to get started with Dungeons and Dragons
    5th edition. I even styled the site to look like the official rulebooks. Isn't that cute?
  </p>
  <p>
    Just about everything you could ever need is right here, so go crazy.
  </p>

    <h2>Navigating</h2>
    <p>
      If you look to your left, you'll see a stylish sidebar that looks a bit like the spine of a book, gold lettering and all. Pretty clever,
      right? Click around on there to jump around the site.
    </p>
    <ul>
      <li><strong><em>Home</em></strong> is this page right here. </li>
      <li><strong><em>Guide</em></strong> is a start-to-finish character creation walkthrough.</li>
      <li>
        <strong><em>Resources</em></strong> has information on every class and <em>most</em> races, as well as a page dedicated to weapons, armor,
        tools, adventuring gear, and expenses.
      </li>
    </ul>
    <p>
      Then there's the <strong><em>Lore</em></strong> section. I swear it's not a reading list, please don't click off the site. This section has
      a page called "Primer," which I recommend you skim through. It's basically a brief rundown on the setup to my campaign's story, with a
      summary of how each race is viewed in my world.
    </p>
    <p>
      Also in the Lore section is the wiki: a list of people, places, and things that are relevant to the setting and that your character likely
      knows about. Not necessary by any means, but a nice little way for me to stop explaining everything at the beginning of every page.
    </p>

    <h2>A Fair Warning</h2>
    <p>
      A learned D&D player may notice, after a quick look around, the races I've presented to you are <em>wrong</em>. They're completely different
      from the ones in the actual rules. That's because I'm the DM, and I make the rules.
    </p>
    <p>
      I write the lore, and the lore influences the game. So things work a little different in my game. Most changes come from a place of love: I
      want to mix up the setting to keep it fresh, since generic Tolkienesque Fantasy Land is pretty played-out at this point. Though, some
      changes do come from a place of hate. For example, Ithere are no gnomes in my world because I don't like them.
    </p>
    <p>
      So, if you're planning on using the races on this site for another game, don't bother. Definitely won't fly with your DM, unless he's me or
      he's running a game in my setting.
    </p>
</main>

<%- include("footer") %>