<head>
  <style>
    #navbar {
    background-color: #a00;
    overflow-y: scroll;
    position: fixed;
    height: 100%;
    width: 250px;
    }

    #nav-list {
        margin: 16px 0;
    }

    #navbar ul {
        list-style-type: none;
        margin-left: 1.5rem;
        padding: 0;
    }

    #navbar li {
        margin: 3px 0;
    }

    #navbar a {
        color: #ee0;
        font-family: 'Libre-Baskerville';
        font-size: 24px;
        font-variant: small-caps;
        text-decoration: none;
        transition: 200ms;
    }

    #navbar a:hover {
        color: #fff;
    }
  </style>
</head>

<aside id="navbar">
  <ul id="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="/primer">Primer</a></li>
    <li><a href="/guide">Guide</a></li>
    <li><a>Resources</a></li>
    <ul>
      <li><a>Races</a></li>
      <ul>
        <li><a href="/">Aasimar</a></li>
        <li><a href="/">Dragonborn</a></li>
        <li><a href="/">Dwarf</a></li>
        <li><a href="/">Elf</a></li>
        <li><a href="/">Genasi</a></li>
        <li><a href="/">Half-Elf</a></li>
        <li><a href="/">Half-Orc</a></li>
        <li><a href="/">Halfling</a></li>
        <li><a href="/">Human</a></li>
        <li><a href="/">Tiefling</a></li>
      </ul>
      <li><a>Classes</a></li>
      <ul>
        <li><a href="/">Artificer</a></li>
        <li><a href="/">Barbarian</a></li>
        <li><a href="/">Bard</a></li>
        <li><a href="/">Cleric</a></li>
        <li><a href="/">Druid</a></li>
        <li><a href="/">Fighter</a></li>
        <li><a href="/">Monk</a></li>
        <li><a href="/">Paladin</a></li>
        <li><a href="/">Ranger</a></li>
        <li><a href="/">Rogue</a></li>
        <li><a href="/">Sorcerer</a></li>
        <li><a href="/">Warlock</a></li>
        <li><a href="/">Wizard</a></li>
        <li><a href="/"></a></li>
        <li><a href="/"></a></li>
      </ul>
    </ul>
  </ul>
</aside>