<%- include("header") %>

<%- include("navbar") %>

<main>
  <h1>The Isles in Chaos</h1>
  <p>
    Yeah I have no idea what the plot of the campaign is gonna be. But I <em>do</em> know the isles are in chaos.
  </p>

  <h1>Your Station in the World</h1>
  <p>
    Though a diverse land of different races and species, the Wounded Isles are not entirely free of bias and prejudice. Racial and national
    tensions are stoked frequently by war, and your chosen race and origin will likely have an impact on your image.
  </p>

    <h2>Aasimar</h2>
    <p>
      Though rare, aasimari are often respected by the pious and clergy alike. In the eyes of layfolk, your celestial heritage marks you as a
      loyal and righteous servant of Good. Some will be more likely to trust you, but word spreads fast, and you may draw the attention of
      servants of Evil.
    </p>

   <h2>Dragonborn</h2>
    <p>
      Towering in height with glimmering scales, you don't suffer from a lack of attention—whether good or bad depends on the onlooker. Some see
      you as the product of a twisted blood ritual, while others see a scaly hide that may fetch a fine price. The more romantic or
      historically-inclined may view your differently depending on your dragon ancestry.
    </p>

    <h2>Dwarf</h2>
    <p>
      As such an isolated and reserved people, it is diffult to find something about the dwarves to dislike. But that doesn't stop the Sothonians,
      many of whom are still bitter over the inconclusive end to Nolemos's campaign agains the strongholds. And the feeling is mutual.
    </p>
    
      <h3>Fjellan</h3>
      <p>
        The most common dwarves, stone dwarves are most likely to integrate themselves into the outside world. As such, they are respected by most
        as an integral part of society like any other.
      </p>

      <h3>Bjor</h3>
      <p>
        Loud, confident, and quick to anger, the Bjor prove to be a bit much for some. But most still recognize that there's no better drinking
        partner. With Alkarian steel encroaching on Bjoric business, and the lighthearted sun elves see the Bjor as friendly competitors, though
        iron dwarves don't necessarily agree.
      </p>

      <h3>Myntian</h3>
      <p>
        Myntians are the most free-spirited and worldly of the dwarves, well-traveled and -connected. They've earned a reputation as mercantile
        folk, and peddlers of luxury to the wealthy.
      </p>

      <h3>Rull</h3>
      <p>
        The Rull rarely interact with non-dwarf society. Even before the elven conquest, they rarely left their strognhold. As such, few know what to
        make of you. Some humans and elves of the world may not even know of the existence of the coal dwarves.
      </p>

      <h3>Edelian</h3>
      <p>
        Though strikingly uncommon, Edelians are quite well-known due to their distinctive appearance and nature. Stories are told of how you shy
        from the sun and speak with your minds. The world above is strange to you, and you are strange to the world above.
      </p>

    <h2>Elf</h2>
    <p>
      The elven subraces have carved out different niches on the world stage, and other peoples view them each uniquely.
    </p>

      <h3>Sothonian</h3>
      <p>
        Other races aren't soon to forget the moon elves' history of international relations. Some dwarves still consider you violent warmongers,
        while Liran humans may regard you as servants, and even certain Alkarians see you as stuck-up tyrants. Generally, the Sothonians' lack of
        empathy tends to rub people the wrong way.
      </p>

      <h3>Alkarian</h3>
      <p>
        Unlike their northern cousins, sun elves aren't ruthless conquerors, but wily and cunning traders. Though your merchants are seen by most
        as sleazy salesmen, the average sun elf appears to other races as an upbeat, fun-loving person, if a bit emotionally tone deaf.
        Traditionally-minded Sothonians, however, resent your kind for mingling with humans and forgetting your elf roots.
      </p>

    <h2>Genasi</h2>
    <p>
      Like all outsiders, the genasi are seen as exotic by most. Though some are wary of them due to their genie ancestry, your folk are common
      enough that most people in big cities have seen at least one of you before.
    </p>

    <h2>Half-Elf</h2>
    <p>
      To Alkarians, half-elves are just normal people. Most humans feel the same, though Lirans may look down on you due to elves' status as
      servants in Lira. Sothonians, on the other hand, often see half-breeds as weak—a mixture of elf blood with something lesser, or even as a
      symbol of their servitude to humans.
    </p>

    <h2>Half-Orc</h2>
    <p>
      Whether gray or green of skin, you're unlikely to find a welcoming world awaiting you. Human neighbors may see you as as a reminder of the
      orc raid during which you were likely conceived. To the orcs, you're only worth your weight if you're strong enough to fight, but your human
      blood already places you at a disadvantage.
    </p>  

    <h2>Halfling</h2>
    <p>
      Halflings are the most universally-liked people in the isles. Though some may look down on your kind for a general lack of aspiration, most
      envy your ability to be happy with so little, and respect the virtues of the quiet life. You're one of the only peoples in the world who
      have never been at war with another race, and that goes a long way.
    </p>

    <h2>Human</h2>
    <p>
      Because of their number and prevalence, humans are more or less the norm. But biases may be stronger among peoples such as the Sothonians,
      particularly those who were held in bondage by human masters.
    </p>

    <h2>Tiefling</h2>
    <p>
      Everything about you resembles a monster from a storybook: from your horns to your magic to your otherworldly origins. Fiends have worked
      hard to ensure their reputation as the vile creatures they are, and you unfortunately carry that image on your shoulders.
    </p>
</main>
  
<%- include("footer") %>