<%- include("header") %>

<%- include("navbar") %>

<main>
  <h1>The Isles in Chaos</h1>
  <p>
    Yeah I have no idea what the plot of the campaign is gonna be. But I <em>do</em> know the isles are in chaos.
  </p>

  <h1>Your Station in the World</h1>
  <p>
    Though a diverse land of different races and species, the Wounded Isles are not entirely free of bias and prejudice. Racial and national
    tensions are stoked frequently by war, and your chosen race and origin will likely have an impact on your image.
  </p>

    <h2>Aasimar</h2>
    <p>
      Aasimari are often respected by the pious and clergy alike. In the eyes of layfolk, your celestial heritage marks you as a righteous servant
      of Good, but you may draw the attention of servants of Evil.
    </p>

   <h2>Dragonborn</h2>
    <p>
      Towering in height with glimmering scales, you don't suffer from a lack of attention—whether good or bad depends on the onlooker. Some see
      you as the product of twisted blood magic, while others view you differently depending on your dragon ancestry.
    </p>

    <h2>Dwarf</h2>
    <p>
      An isolated and reserved people, it's diffult to find something about dwarves to dislike.
    </p>
    
      <h3>Fjellan</h3>
      <p>
        The most common dwarves, stone dwarves are most likely to integrate themselves into the outside world. As such, they are respected by most
        as an integral part of society like any other.
      </p>

      <h3>Bjor</h3>
      <p>
        Loud, confident, and quick to anger, the Bjor prove a bit much for some. But most still recognize that there's no better drinking
        partner. With Alkarian steel encroaching on Bjoric business, and the sun elves see the Bjor as friendly competitors, but iron dwarves
        don't necessarily agree.
      </p>

      <h3>Myntian</h3>
      <p>
        Myntians are the most free-spirited and worldly of the dwarves, well-traveled and -connected. They've earned a reputation as mercantile
        folk, and peddlers of luxury to the wealthy.
      </p>

      <h3>Rull</h3>
      <p>
        The Rull rarely interact with non-dwarf society. As such, few know what to make of you. Some humans and elves of the world may not even
        know of the existence of the coal dwarves.
      </p>

      <h3>Edelian</h3>
      <p>
        Though uncommon, Edelians are well-known due to their distinctive appearance and nature. Stories are told of how you shy
        from the sun and speak with your minds. The world above is strange to you, and you are strange to the world above.
      </p>

    <h2>Elf</h2>
    <p>
      Elven cultures have carved out different niches on the world stage, and are each viewed uniquely.
    </p>

      <h3>Sothonian</h3>
      <p>
        Other races aren't likely to forget the moon elves' history in international relations. Some dwarves consider you violent warmongers,
        while Liran humans may view you as servants, and even some Alkarians see you as tyrants.
      </p>

      <h3>Alkarian</h3>
      <p>
        Unlike their northern cousins, sun elves aren't ruthless conquerors, but wily and cunning traders. The average sun elf appears to others
        as an upbeat, fun-loving person, if a bit emotionally tone deaf. Traditionally-minded Sothonians resent your kind for mingling with humans
        and forgetting your roots.
      </p>

    <h2>Genasi</h2>
    <p>
      Like all outsiders, genasi are seen as exotic by most. Though some are wary of them due to their genie ancestry, your folk are common
      enough that most in big cities have seen at least one of you before.
    </p>

    <h2>Half-Elf</h2>
    <p>
      To Alkarians, half-elves are normal people. Most humans feel the same, though Lirans may look down on you due to elves' status in Lira.
      Sothonians, on the other hand, may see half-breeds as weak—a mixture of elf blood with something lesser, or as a
      symbol of their servitude to humans.
    </p>

    <h2>Half-Orc</h2>
    <p>
      Whether gray- or green-skinned, you're unlikely to find a welcoming world awaiting you. Humans may see you as as a reminder of orc raids. To
      the orcs, your worth is earned in combat, but your human blood already places you at a disadvantage.
    </p>  

    <h2>Halfling</h2>
    <p>
      Halflings are the most universally-liked people in the isles. Though some look down on your kind for a lack of aspiration, most envy your
      ability to be happy with so little. You're one of the only peoples in the world who have never been at war with another race, and that goes
      a long way.
    </p>

    <h2>Human</h2>
    <p>
      Because of their number and prevalence, humans are more or less the norm. Biases may be stronger among peoples such as Sothonians,
      particularly those who were held in servitude by human masters.
    </p>

    <h2>Tiefling</h2>
    <p>
      Everything about you resembles a monster from a storybook: from your horns to your magic to your otherworldly origins. Fiends have worked
      hard to ensure their reputation as the vile creatures they are, and you unfortunately carry that image on your shoulders.
    </p>
</main>
  
<%- include("footer") %>