<%- include("../header") %>

<%- include("../navbar") %>

<main>
  <h1>Wiki</h1>
  <p>
    Welcome to the wiki! This is where you'll find the meaning of all the words and names you didn't understand from the race listings.
  </p>
</main>

<%- include("../footer") %>